.model-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px; 
    height: 170px; 
    background-image: linear-gradient(to right, rgba(230, 230, 230, 0.8), rgba(255, 255, 255, 0.5)); /* ✅ 배경 색 조정 */
    border-radius: 15px;
    font-family: "Diphylleia", serif;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

.model-card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.model-info {
    flex: 1;
    padding-left: 20px;
    z-index: 2;
    text-align: left;
}

.model-info h3 {
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 5px;
}

.model-info h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    margin: 0;
}

.model-image-container {
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    position: absolute;
    right: 0px; 
    left : 30px;
    bottom: 5px;
}

.model-image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.model-card:hover .model-image-container img {
    transform: scale(1.05); 
}


.Model-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 90%; 
}


@media (max-width: 1200px) {
    .car-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 900px) {
    .car-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .car-container {
        grid-template-columns: repeat(1, 1fr); 
    }
}
